/* GLobal */

html {
  font-size: 14px;
  font-family: "Open Sans";
  color: #000;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.btn {
  width: 11.4rem;
  height: auto;
  padding: 1.3rem 2rem;
}

/* Navigation */

nav div {
	display: flex;
	align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav div .nav a.active {
	color: #337ab7;
}

@media only screen and (max-width: 767px) {
	nav .container-fluid img {
		display: none;
	}
}

/* Jumbotron */

.jumbotron {
  margin-top: 3.175rem;
  background: url('../images/jumbotron.png') no-repeat center;
}

.jumbotron div .text {
  text-align: center;
  max-width: 51.3rem;
  margin: 11.85rem auto;
}

.jumbotron div h1 {
  font-family: "Monoton";
  font-size: 5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.jumbotron div p {
  text-align: center;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {

  .jumbotron {
    margin-top: 8.5rem;
  }

}

/* Featured Projects */

.featured-project div h2 {
  margin-bottom: 2rem;
}

.featured-project div h3 {
  margin-bottom: 1rem;
}

.featured-project .categories h3 {
  color: #399bd1;
}

.featured-project div img {
  width: 100%;
  height: auto;
}

.featured-project div p {
  margin-bottom: 0.5rem;
}

/* Projects */

.projects {
  margin-bottom: 5.85rem;
}

.projects div h2, h3, p {
  margin: 1rem 0;
  line-height: 1.25;
}

.projects div img {
  width: 100%;
  height: auto;
}

/* Footer */

footer {
  background-color: #f3f3f3;
  text-align: center;
}

footer div {
  max-width: 42rem;
  margin: 5.2rem auto;

}

footer h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}
